body {
    background-color: blueviolet;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#query {
    border-radius: 5px;
    opacity: 45%;
    height: 3rem;
    width: 60%;
    font-size: x-large;
}

h1, h2, h3 {
    font-family: 'PT Serif', serif;
}

h2 {
    margin-block-end: 0;
    margin-block-start: 0;
}

#submit {
    display: inline-block;
    padding: 0.3em 1.2em;
    /* margin-top: 20px; */
    /* margin: 0 0.3em 0.3em 0; */
    border-radius: 2em;
    /* box-sizing: border-box; */
    /* text-decoration: none; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    /* text-align: center; */
    transition: all 0.2s;
}

#submit:hover {
    background-color: #4095c6;
}

.recipeList {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: left;
}

.output-box {
    visibility: hidden;
    padding: 10px;
    background-color: white;
    opacity: 45%;
    border-radius: 10px;
    margin-top: 10px;
    left: 150%;
}

.moreInfo {
    display: none;
}