html {
    height: 100%
}

body {
    background-position-x: center;
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?dinner');
}

.flip {
    transform: rotate(-180deg);
}

#query {
    border-radius: 10px;
    opacity: 85%;
    height: 3rem;
    width: 60%;
    font-size: x-large;
    padding: 5px;
}

#wrapper {
    display: block;
}

.moreButton {
    opacity: 100%;
    border: none;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

#query-form {
    size: inherit;
}

h1, h2, h3 {
    font-family: 'PT Serif', serif;
}

h2 {
    margin-block-end: 0;
    margin-block-start: 0;
}

#submit {
    display: inline-block;
    padding: 0.3em 1.2em;
    border-radius: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #812d34;
    transition: all 0.2s;
}

#submit:hover, #submit:focus {
    background-color: #812d34;
}

#recipes, #restaurants {
    list-style-type: none;
    padding-inline-start: 0px;
}

.placeList {
    flex: 1;
}

.recipeList, .output-box {
    list-style-type: none;
}

.recipeList {
    text-align: left;
    flex: 1;
}

.output-box {
    display: none;
    padding: 10px;
    background-color: white;
    opacity: 85%;
    border-radius: 10px;
    margin: 15px;
}

#title {
    font-size: 3em;
    margin-top: 15px;
}

#title, #info-panel {
    color: #812d34;
    padding: 10px;
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    opacity: 85%;
}

#info-panel {
    margin: 1% 15%;
}

#recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    flex: 1 100%;
}

#loading {
    display: none;
}

.moreInfo {
    display: none;
}

.arrow {
    width: 30px;
}

.arrow-display {
    cursor: pointer;
}

input[type="radio"] {
    top: 0;
}

#recipes>li {
    flex-grow: 1;
}

.place-info {
    font-style: italic;
}

@media screen and (min-width:600px) {
    #restaurant-box {
        height: fit-content;
        width: 35%;
    }
    #recipe-box {
        display: flex;
        width: 35%;
        justify-content: space-evenly;
        flex-direction: column;
    }
    body {
        border: 0ch;
    }
    #wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .output-box {
        margin: 30px;
    }
}