html {
    height: 100%
}

body {
    background-position-x: center;
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* height: inherit; */
    background-image: url('https://source.unsplash.com/1600x900/?dinner');
}

.flip {
    transform: rotate(-180deg);
}

#query {
    border-radius: 10px;
    opacity: 85%;
    height: 3rem;
    width: 60%;
    font-size: x-large;
    padding: 5px;
}

#wrapper {
    display: block;
}

.moreButton {
    opacity: 100%;
    border: none;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

#query-form {
    size: inherit;
}

h1, h2, h3 {
    font-family: 'PT Serif', serif;
}

h2 {
    margin-block-end: 0;
    margin-block-start: 0;
}

#submit {
    display: inline-block;
    padding: 0.3em 1.2em;
    /* margin-top: 20px; */
    /* margin: 0 0.3em 0.3em 0; */
    border-radius: 2em;
    /* box-sizing: border-box; */
    /* text-decoration: none; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    /* text-align: center; */
    transition: all 0.2s;
}

#submit:hover, #submit:focus {
    background-color: #4095c6;
}

#recipes, #restaurants {
    list-style-type: none;
    padding-inline-start: 0px;
}

.placeList {
    flex: 1;
}

/* #recipe-box {
    display: flex;
} */

/* #restaurant-box {
    display: flex;
    flex-direction: column;
} */

/* #restaurant-box>#restaurants {
    flex: 1;
} */

/* #recipe-box>#recipes {
    display: flex;
    flex: 1;
} */

.recipeList, .output-box {
    list-style-type: none;
    /* padding-inline-start: 0px; */
}

.recipeList {
    text-align: left;
    /* display: flex; */
    /* flex-direction: column; */
    flex: 1;
}

.output-box {
    display: none;
    padding: 10px;
    background-color: white;
    opacity: 85%;
    border-radius: 10px;
    margin: 15px;
    /* margin-top: 10px; */
    /* left: 150%; */
}

#title {
    margin-top: 15px;
    color: #4eb5f1;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
    /* opacity: 80% */
}

/* #restaurants {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
} */

#recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    flex: 1 100%;
}

#loading {
    display: none;
}

.moreInfo {
    display: none;
}

.arrow {
    width: 30px;
}

.arrow-display {
    cursor: pointer;
}

input[type="radio"] {
    /* display: none; */
    top: 0;
}

/* #restaurant-box {
    height: fit-content;
    width: 35%;
} */

#recipes>li {
    flex-grow: 1;
}

@media screen and (min-width:600px) {
    #restaurant-box {
        height: fit-content;
        width: 35%;
    }
    #recipe-box {
        display: flex;
        width: 35%;
        justify-content: space-evenly;
        flex-direction: column;
    }
    body {
        border: 0ch;
    }
    #wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    .output-box {
        margin: 30px;
    }
}